{
  "ports": [
    11000,
    11001,
    11002
  ],
  "master_addr": "127.0.0.1:3081",
  "working_servers": [
    {
      "model_id": "microsoft/Phi-3-medium-4k-instruct",
      "program": "self",
      "temp": 0.6,
      "top_p": 0.9
    },
    {
      "model_id": "meta-llama/Meta-Llama-3-8B-Instruct",
      "program": "self",
      "temp": 0.6,
      "top_p": 0.9
    }
  ],
  "servers": [
    {
      "model_id": "meta-llama/Meta-Llama-3-8B-Instruct",
      "program": "self",
      "temp": 0.6,
      "top_p": 0.9
    },
    {
      "model_id": "microsoft/Phi-3-medium-4k-instruct",
      "program": "self",
      "temp": 0.6,
      "top_p": 0.9
    }
  ]
}