{
  "ports": [
    11000,
    11001,
    11002
  ],
  "master_addr": "0.0.0.0:12081",
  "working_servers": [
    {
      "model_id": "black-forest-labs/FLUX.1-schnell",
      "program": "/disk/lyn/workspace/moondream/moonweb/models/flux/target/release/flux",
      "temp": 0.6,
      "top_p": 0.9
    },
    {
      "model_id": "Qwen/Qwen2-7B-Instruct",
      "program": "/disk/lyn/workspace/moondream/moonweb/models/pyworker/target/release/pyworker",
      "temp": 0.6,
      "top_p": 0.9
    }
  ],
  "servers": [
    {
      "model_id": "black-forest-labs/FLUX.1-schnell",
      "program": "/disk/lyn/workspace/moondream/moonweb/models/flux/target/release/flux",
      "temp": 0.6,
      "top_p": 0.9
    },
    {
      "model_id": "lmms-lab/llama3-llava-next-8b",
      "program": "/disk/lyn/workspace/moondream/moonweb/models/llava/target/release/llava",
      "temp": 0.6,
      "top_p": 0.9
    },
    {
      "model_id": "Qwen/Qwen2-7B-Instruct",
      "program": "/disk/lyn/workspace/moondream/moonweb/models/pyworker/target/release/pyworker",
      "temp": 0.6,
      "top_p": 0.9
    },
    {
      "model_id": "Qwen/Qwen2-1.5B-Instruct",
      "program": "/disk/lyn/workspace/moondream/moonweb/models/qwen/target/release/qwen",
      "temp": 0.6,
      "top_p": 0.9
    },
    {
      "model_id": "meta-llama/Meta-Llama-3-8B-Instruct",
      "program": "self",
      "temp": 0.6,
      "top_p": 0.9
    },
    {
      "model_id": "microsoft/Phi-3-medium-4k-instruct",
      "program": "self",
      "temp": 0.6,
      "top_p": 0.9
    },
    {
      "model_id": "yuanli/moonmodel",
      "program": "/home/lyn/workspace/moondream/moonweb/models/moonmodel/target/release/moonmodel",
      "temp": 0.6,
      "top_p": 0.9
    }
  ]
}